/*
login.css

Styling for animated login div
https://www.w3schools.com/howto/howto_css_login_form.asp
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal
*/

/* Full-width input fields */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Center the image and position the close button */

.imgcontainer {
  padding: 12px;
  text-align: center;
  margin: 24px 0 12px 0;
  margin: 20px;
  position: relative;
  background-color: #f8f8f8;
  border-radius: 10px;
}

img.space-invader {
  width: 10%;
  /*filter:drop-shadow(0 0 10px #0F0)*/
  filter: drop-shadow(0 0 10px purple)
}

.login-container {
  padding: 12px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) - Surrounds the password popup*/

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}


/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/* The Close Button (x) */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: purple;
  /*X icon in top right changes to purple on hover*/
  cursor: pointer;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 1.0s;
  /*Time in seconds*/
  animation: animatezoom 1.0s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  /*Scale from small to large*/
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  /*2D transform scale from nothing*/
  to {
    transform: scale(1)
  }
  /*To full size*/
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  span.ps {
    display: block;
    float: none;
    width: 100%;
  }

  .login-container button  {
    width: 100%;/*Fill the panel*/
    font-size: 200%;/*Increase font size*/
  }
}