/* 
popup.css
05/12/2019
https://www.w3schools.com/howto/howto_js_popup.asp
*/

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.85;
}

h3 {
    text-align: center;
}

/* The actual popup */
.popup .popuptext {
    font-family: "Times New Roman", Times, serif;
    visibility: hidden;
    width: 280px;
    background-color: rgb(18, 119, 214);
    color: #fff;
    border-radius: 10px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -135px;/*x position of popup*/
    font-size: 75%;
}

.below {
    top: 120%;
}

.above {       
    bottom: 120%;
}

b {
    color: #222;
    font-size: 110%;
}

/* Popup arrow */
.popuptext::after {
    background-color: rgb(18, 119, 214);
    content: "";
    position: absolute;
    left: 120px;/*Position arrow half way across bottom of popup*/
}
.below::after {
    background-color: rgb(18, 119, 214, 0);
    bottom: 100%;

    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 15px solid rgb(18, 119, 214);
}
.above::after {
    background-color: rgb(18, 119, 214, 0);
    top: 100%;    
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-top: 15px solid rgb(18, 119, 214);
}
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}