/* Game Canvas */

canvas {
	font-family: 'Teko', cursive;
	border: 1px solid #000;
	display: block;
	margin: 0 auto;
}

.controller-border {
	font-family: 'Teko', cursive;
	-webkit-text-fill-color: white;/* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	color: white;
	border: 2px solid black;
	width: 1200px;/*padding: 40px;*/
	background-color: lightyellow;
	padding: 40px 40px 60px;
	touch-action: manipulation;/*Stop screen zooming when double tapping buttons*/
	text-align: center;
	margin: 0 auto;
	/*font-size: 0.6em;*/
}

/* Mobile Game Controller */

.controller {
	font-family: 'Teko', cursive;
	background-color: #b2b4b2;
	border: 2px solid black;
	width: 1150px;
	text-align: center;
	border-radius: 200px;
	padding: 25px;
	margin: 0 auto;
}

.button-box {
	display: inline-block;
	border: 2px solid white;
	text-align: center;
	width: 360px;
	border-radius: 200px;
	padding: 10px;
	background-color: #707372;
}

.button {
	border: 3px solid black;
	border-radius: 60px;
	font-size: 40px;
	padding: 25px;
}

.button-start {
	background-color: #999;/*Grey*/
}

.button-round {
	background-color: #F14;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;/* Stop button text highlighting when buttons pressed repeatedly */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-o-user-select: none;
}

.button-divider {
	width: 75px;
	height: auto;
	display: inline-block;
}

.buttonA {
	background-color: #F14;/*Red*/
}

.buttonB {
	background-color: #FF0;/*Yellow*/
}

.buttonX {
	background-color: #00F;/*Blue*/
}

.buttonY {
	background-color: #0F0;/*Green*/
}