/* Top Menu */

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

/*Highlight current page*/

.highlighted {
  background-color: #888;
}

li.highlighted a {
  color: #ae31f1;
}

/* Register a new user */

.register table {
  border: 1px solid black;
  background-color: red;/* For browsers that do not support gradients */
  background-image: linear-gradient(#08da6d, #ae31f1);/*Gradient colour*/
  width: 100%;
}

.register thead {
  background-color: #08da6d;/* green */
}

.register .lbl {
  text-align: right;
}

.register td {
  width: 50%;
}

/* Form field width */
input[type=text], input[type=submit], input[type=password], select {
  width: 200px;
}

body {
  font-family: 'Atomic Age', cursive;
  height: 1000px;
  background-color: purple;/* For browsers that do not support gradients */
  background-image: linear-gradient(#e032e6, #020314);/*Gradient colour*/
}