/* Top Menu */

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

/*Highlight current page*/
.highlighted {
  background-color: #888;
}

li.highlighted a{
  color: red;
}

/* Register a new user */

.register table {
	border: 1px solid black;
	background-color: #cfeafa;
	width: 100%;
}

.register thead {
	background-color: #009bfb; /* Blue */
}

.register .lbl {
	text-align: right;
}

.register td {
	width: 50%;
}

/* Form field width */
input[type=text], input[type=submit], input[type=password], select {
  width: 200px;
}